@model List<Jeu>
@{
    ViewData["Title"] = "Catalogue des Jeux";
}

<div>
    <h1>Catalogue des Jeux</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date d'ajout</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Jeu jeu in @Model!)
            {
                <tr>
                    <td>@(jeu.Id)</td>
                    <td>@(jeu.Titre)</td>
                    <td>@(jeu.Description)</td>
                    <td>@(jeu.Date_ajout)</td>
                    <td><a asp-controller="Jeux" asp-action="Detail" asp-route-id="@(jeu.Id)">Voir le Jeu</a></td>
                </tr>
            }
        </tbody>
    </table>
</div> 