@model Jeu

@if (ViewData.ContainsKey("ValidateMessage"))
{
	<p>@ViewData["ValidateMessage"]</p>
}

<h1>Nouveau Jeu</h1>
<form asp-action="Nouveau" method="post" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
<div>
	<div class="form-content">
		<label asp-for=" @Model.Titre"></label>
		<input asp-for="@Model.Titre" placeholder="Nom du Jeu"/>
		<span asp-validation-for="@Model.Titre" class="text-danger"></span>
	</div>
	<div class="form-content">
		<label asp-for="@Model.Description"></label>
		<textarea asp-for="@Model.Description" rows="6" placeholder="Écrivez une description du jeu..."></textarea>
		<span asp-validation-for="@Model.Description" class="text-danger"></span>
	</div>
	<div class="form-content">
		<label asp-for="@Model.NombreJoueursRecommandes"></label>
		<input asp-for="@Model.NombreJoueursRecommandes" placeholder="Nombre de joueurs max." />
		<span asp-validation-for="@Model.NombreJoueursRecommandes" class="text-danger"></span>
	</div>
	<div class="form-content">
		<label asp-for="@Model.TempsJeuMoyen"></label>
		<input asp-for="@Model.TempsJeuMoyen" placeholder="Durée en minutes"/>
		<span asp-validation-for="@Model.TempsJeuMoyen" class="text-danger"></span>
	</div>
	<div class="form-content">
		<label asp-for="@Model.DateAjout"></label>
		<input asp-for="@Model.DateAjout" />
		<span asp-validation-for="@Model.DateAjout" class="text-danger"></span>
	</div>
	<div class="form-content">
		<label asp-for="@Model.ImageFile"></label>
			<input asp-for="@Model.ImageFile" />
			<span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
	</div>
	<input type="submit" value="Envoyer">
</div>
</form>

		@section Scripts {
    <partial name="_ValidationScriptsPartial" />
		}